html,
body {
    background-color: #E63946;
    color: white;
    text-align: center;
    font-family: "Questrial", sans-serif;
    min-width: 320px;
}

#container {
    background-color: #F1FAEE;
    margin: 0 auto;
    border-radius: 4px;
    width: 75%;
    max-width: 900px;
    padding: 10px;
    padding-top: 20px;
  }

h1 {
    font-family: 'Roboto', sans-serif;
    color: #F1FAEE;
    font-size: 4em;
}

p {
    font-size: 2em;
}

form {
    background-color: #1D3557;
    margin: 0 auto;
    border-radius: 4px;
    width: 75%;
    max-width: 900px;
    padding: 10px;
    padding-top: 20px;
}

label {
    font-size: 1.3em;
}

input,
textarea {
    font-size: 1.2em;
    color: #F1FAEE;
    width: 20em;
    border: none;
    outline: none;
    background: transparent;
    margin: 0.5em;
}

input {
    border-bottom: 2px solid #F1FAEE;
    opacity: 1.0;
}

input::-webkit-input-placeholder {
    color: #F1FAEE;
    opacity: 0.8;
  }

textarea {
    border: 2px solid #F1FAEE;
    margin: auto;
}

  ul {
    list-style: none;
    display: inline;
}

#dropdown {
    height: 35px;
    width: 140px;
    padding: 5px;
    margin: 10px;  
    margin-top: 15px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}

/* media queries for responsive design */
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {
      width: 8.33%;
    }
    .col-m-2 {
      width: 16.66%;
    }
    .col-m-3 {
      width: 25%;
    }
    .col-m-4 {
      width: 33.33%;
    }
    .col-m-5 {
      width: 41.66%;
    }
    .col-m-6 {
      width: 50%;
    }
    .col-m-7 {
      width: 58.33%;
    }
    .col-m-8 {
      width: 66.66%;
    }
    .col-m-9 {
      width: 75%;
    }
    .col-m-10 {
      width: 83.33%;
    }
    .col-m-11 {
      width: 91.66%;
    }
    .col-m-12 {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
      width: 8.33%;
    }
    .col-2 {
      width: 16.66%;
    }
    .col-3 {
      width: 25%;
    }
    .col-4 {
      width: 33.33%;
    }
    .col-5 {
      width: 41.66%;
    }
    .col-6 {
      width: 50%;
    }
    .col-7 {
      width: 58.33%;
    }
    .col-8 {
      width: 66.66%;
    }
    .col-9 {
      width: 75%;
    }
    .col-10 {
      width: 83.33%;
    }
    .col-11 {
      width: 91.66%;
    }
    .col-12 {
      width: 100%;
    }
  }